export(asdev)
export(cardinality)
export(nscumcomp)
export(nsprcomp)
export(peav)
import(stats)
S3method(nscumcomp,default)
S3method(nscumcomp,formula)
S3method(nsprcomp,default)
S3method(nsprcomp,formula)
